<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdk.helpme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="helpme.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.cdk.helpme" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.SosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.SubjectEmergencyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.SelectedSubjectEmergencyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.NearEmergencyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cdk.helpme.activity.HospitalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NaverMapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.cdk.helpme.sms.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.cdk.helpme.widget.HelpmeWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/helpme_widget" />
        </receiver>
    </application>

</manifest>